<html>

<head>

<link rel="stylesheet" href="styles.css">

</head>

<body>

<br>
<form action="/addCat" method="post">
    <div>
        <label>Cat Name:</label>
        <input type="text" name="catName" value="felix"><br>
        <label>Cat Breed:</label>
        <input type='text' name='catBreed'><br>
        <label>Cat Image URL:</label>
        <input type='text' name='catImage'><br>
        <label>Cat Age:</label>
        <input type='number' name='catAge'><br>
    </div><br>
    <div>
        <input type="submit" value="Add Cat">
    </div>
</form>

</body>


</html>
